<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.cs321.group7.worksmart">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/hi">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/hi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BasicActivity"
            android:theme="@style/hi" />
        <activity
            android:name=".ClassListActivity"
            android:label="Your Classes"
            android:theme="@style/hi" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:theme="@style/hi" />
        <activity
            android:name=".ClassInfoActivity"
            android:label="Class Info"
            android:theme="@style/hi" />
        <activity
            android:name=".EditClassActivity"
            android:label="Edit Class"
            android:theme="@style/hi" />
        <activity
            android:name=".AddClassActivity"
            android:label="Add Class"
            android:theme="@style/hi" />
        <activity
            android:name=".SemesterListActivity"
            android:label="Semester List"
            android:theme="@style/hi" />
        <activity
            android:name=".AddSemesterActivity"
            android:label="Add Semester"
            android:theme="@style/hi" />
        <activity
            android:name=".AddTaskActivity"
            android:label="Add Task"
            android:theme="@style/hi" />
        <activity
            android:name=".AddGradeActivity"
            android:label="Add Grade"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TaskListActivity"
            android:label="Task List"
            android:theme="@style/hi" />
        <activity
            android:name=".About"
            android:label="About"
            android:theme="@style/hi" />
    </application>

</manifest>
